{{#with data}}
  <div class='card'>
    <img
      src='{{photo}}'
      alt='{{heading}}'
      class='card_image'
    />
    <strong class='card_title'>{{heading}}</strong>
    <p class='card_text'>{{info}}</p>
    <a href='{{linkUrl}}' class='card_link'>{{linkText}}</a>
  </div>
{{/with}}